/* 1 */
table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 2px solid #333;
}

th, td {
  padding: 8px;
  text-align: center;
  background-color: bisque;
}
caption {
  caption-side: top;
  font-weight: bold;
  padding: 20px;
  font-size: 1.5em;
}

/* элементы */
.s {
  background-color: rgb(207, 109, 183);
}

.p {
  background-color: rgb(248, 255, 152);
}

.d {
  background-color: rgb(76, 171, 202);
}

.f {
  background-color: rgb(114, 211, 130);
}


.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  .rectangle {
    width: 50px;
    height: 30px;
    margin-right: 10px;
}


